.gender {
  color: #ffa634;
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 4px 8px;
  background: #181818;
  border-radius: 0px 8px;
  width: min-content;
  display: inline;
}
